<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.ch.s1.member.MemberMapper">
    	<insert id="setMemberJoin" parameterType="MemberVO">
    		insert into member(mem_id,mem_pw,mem_name,mem_phone,mem_email,mem_type,mem_regDate)
    		values(#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_phone}, #{mem_email}, 0, sysdate())
    	</insert>
    	
    	<select id="getMemberLogin" parameterType="MemberVO" resultType="MemberVO">
    		select * from member where mem_id = #{mem_id} and mem_pw = #{mem_pw}
    	</select>
    	
    	<select id="getMemberId" parameterType="MemberVO" resultType="MemberVO">
    		select * from member where mem_id = #{mem_id} 
    	</select>
    	 
    	<select id="getMemberPhone" parameterType="MemberVO" resultType="MemberVO">
    		select * from member where mem_phone = #{mem_phone} 
    	</select>
    	
    	<select id="getMemberEmail" parameterType="MemberVO" resultType="MemberVO">
    		select * from member where mem_email = #{mem_email} 
    	</select>
    	
    	<update id="updatePw" parameterType="MemberVO">
			update member set mem_pw = #{mem_pw} where mem_id = #{mem_id}
		</update>
		
		<select id="getSearchId" parameterType="MemberVO" resultType="MemberVO">
			select * from member where mem_name= #{mem_name} and mem_email = #{mem_email}
		</select>
		
		<select id="getMemberInfo" parameterType="MemberVO" resultType="MemberVO">
			select * from member where mem_id = #{mem_id} and mem_pw = #{mem_pw}
		</select>
		
		<delete id="setMemberSecession" parameterType="MemberVO">
			delete from member where mem_num = #{mem_num}
		</delete>
		
		<delete id="setMemberSelectSecession" parameterType="Long">
			delete from member where mem_num = #{mem_num}
		</delete>
		
		<update id="setModifyEmail">
			update member set mem_email = #{mem_email} where mem_id=#{mem_id}
		</update>
		
		<update id="setModifyPhone">
			update member set mem_phone = #{mem_phone} where mem_id=#{mem_id}
		</update>
		
		<update id="setModifyPw">
			update member set mem_pw = #{mem_pw} where mem_num=#{mem_num}
		</update>
		
		<sql id="getSearch">
			<choose>
				<when test="kind=='mem_id'">
					mem_id
				</when>
				<when test="kind=='mem_name'">
					mem_name
				</when>
				<otherwise>
					mem_num 
				</otherwise>
			</choose> 
			like concat('%',#{search},'%') and mem_num >0
		</sql>
		
		<select id="getMemberList" resultType="MemberVO" parameterType="Pager">
			select * from member where mem_type=0 and
			<include refid="getSearch"></include>
			order by mem_num desc 
		    limit #{startRow}, #{perPage}	
		</select>
		
		<select id="getCount" resultType="Long" parameterType="Pager">
			select count(mem_num) from member where
			<include refid="getSearch"></include>
		</select>
		
		<select id="getMemberOriginPw" resultType="MemberVO">
			select mem_pw from member where mem_num=#{mem_num}
		</select>
    </mapper>
    