<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.ch.s1.reserve.ReserveMapper">
    	<select id="getList" resultType="ReserveVO">
    		select * from reserve
    	</select>
    	
    	<insert id="setInsert" parameterType="ReserveVO">
    		insert into reserve (mem_num,seat_num,product_num,reserve_regDate,reserve_strt_tm,reserve_end_tm)
    		values(#{mem_num},#{seat_num},#{product_num},sysdate(),#{reserve_strt_tm},#{reserve_end_tm})
    	</insert>
    	
    	<select id="getOne" parameterType="ReserveVO" resultMap="getOneResult">
    		select R.*, P.*
    		from reserve R left join product P
    		on R.product_num = P.product_num
    		where R.reserve_num=#{reserve_num}
    	</select>
    	
    	<resultMap type="ReserveVO" id="getOneResult">
			<id column="product_num" property="product_num"></id>
			<result column="reserve_num" property="reserve_num"></result>
			<result column="mem_num" property="mem_num"></result>
			<result column="seat_num" property="seat_num"></result>
			<result column="reserve_regDate" property="reserve_regDate"></result>
			<result column="reserve_strt_tm" property="reserve_strt_tm"></result>
			<result column="reserve_end_tm" property="reserve_end_tm"></result>
			<collection property="productVOs" javaType="List" ofType="ProductVO">
				<result column="product_price" property="product_price"></result>
				<result column="product_time" property="product_time"></result>	
				<result column="product_type" property="product_type"></result>	
			</collection>
		</resultMap>
    	
    	
    </mapper>
    